body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
}

#map {
    height: 85vh;
    width: 100%;
    z-index: 1;
}

.add-marker-btn {
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    align-self: center;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 2;
}

.add-marker-btn:hover {
    background-color: #45a049;
}

.form-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    margin: 10px 0;
    font-weight: bold;
    color: #555;
}

input {
    padding: 15px;
    margin: 5px 0 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 15px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.remove-btn {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.remove-btn:hover {
    background-color: #f44336;
}

.ui-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.marker-item {
    margin-bottom: 5px;
}

.remove-marker-btn,
.remove-contact-btn {
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    align-self: center;
    font-size: 18px;
    transition: background-color 0.3s;
    z-index: 2;
}

.remove-marker-btn:hover,
.remove-contact-btn:hover {
    background-color: #cc0000;
}
.form-container.collapsed {
    height: 50px; /* Set your desired height when minimized */
    overflow: hidden;
}

.form-container.collapsed .minimize-btn {
    display: none;
}

.form-container.collapsed .maximize-btn {
    display: inline-block;
}

.form-container .maximize-btn {
    display: none;
}